:root {
  --bg-color: rgba(236, 242, 248, 1);

  --color-purple-1: rgba(115, 63, 200, 1);
  --color-purple-2: rgba(167, 117, 241, 1);
  --color-gray-1: rgba(25, 32, 45, 1);
  --color-gray-2: rgba(72, 85, 106, 1);
  --color--light-gray-1: rgb(207, 207, 207);
  --color-white: rgba(255, 255, 255, 1);

  --fs-heading: 2rem;
  --fs-regular: 1.3rem;
  --fs-small: 1.1rem;
}
